#about {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((100vh - 60px) * 0.75);
}

#about .info {
  margin-right: 78px;
}

#about .info .info__name {
  font-size: 44px;
  line-height: 1;
  color: #f4acb7;
  margin-bottom: 10px;
}

#about .info .info__text {
  font-size: 14px;
  margin-bottom: 30px;
}

#about .info .info__btn--cta {
  border-radius: 2px;
  padding: 21px 64px;
  color: #9d8189;
  cursor: pointer;
  background: linear-gradient(to left top, #c2cad2 60%, rgb(220, 225, 245));
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
  transition: all 1.0s linear;
}

#about .info .info__btn--cta:hover {
  font-size: large;
  font-weight: bold;
}

#about .about__img {
  border-radius: 100%;
  width: 40%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#about .about__img:hover {
  transform: rotateY(26deg) rotateX(26deg);
  box-shadow: -10px 10px 10px #aaa;
}

@media screen and (max-height: 450px) {
  #about {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #about .info .info__name {
    font-size: 26px;
  }

  #about .info .info__text {
    margin-bottom: 20px;
  }

  #about .info .info__btn--cta {
    padding: 16px 40px;
    margin-bottom: 20px;
  }

  #about .about__img {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  #about {
    gap: 1rem;
  }

  #about .info {
    margin-right: 0px;
  }

  #about .about__img {
    width: 50%;
  }
}

@media screen and (max-width: 667px) {
  #about .about__img {
    width: 40%;
  }

  #about .info .info__name {
    font-size: 36px;
    margin-top: 10px;
  }

  #about .info .info__btn--cta {
    padding: 18px 44px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 640px) {
  #about {
    gap: 1rem;
  }

  #about .info .info__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #about .about__img {
    width: 40%;
  }

  #about .info .info__name {
    font-size: 36px;
    margin-top: 10px;
  }

  #about .info .info__btn--cta {
    padding: 18px 42px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  #about {
    flex-direction: column;
    gap: 3rem;
    height: unset;
    padding: 4rem 0;
  }

  #about .info {
    width: 100%;
    text-align: center;
  }

  #about .about__img {
    width: 100%;
    margin-bottom: 10px;
  }
}