html {
  font-family: "Roboto", sans-serif;
  color: #9d8189;
}

body {
  background-color: #ffe5d9;
}
.footer {
  text-align: center;
}
.footer a {
  text-decoration: none;
  font-weight: 600;
}
.footer i {
  color: black;
}