
#mobile-btn {
  display: none;
}

#header {
  display: flex;
  justify-content: center;
}

#header .nav {
  background-color: #9d8189;
  max-width: 1110px;
  width: 90%;
  height: 70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 12px;

  display: flex;
  align-items: center;
}

#header .nav .logo-link {
  width: 40px;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

#header .nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#header .nav-list .link {
  color: #d8e2dc;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 550px) {
  #mobile-btn {
    display: block;
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  #mobile-btn svg .cls-1 {
    fill: #f4acb7;
  }

  #header .nav {
    position: relative;
    display: inline-block;
    justify-content: space-between;
  }
  #header .nav-list {
    flex-direction: column;
    position: absolute;
    display: none;
    top: 70px;
    left: 0px;
    width: 100%;
    background-color: #f4acb7;
    border-radius: 8px;
    padding-bottom: 1rem;
    z-index: 1;
  }

  #header .nav-list .nav-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  #header .nav-list .nav-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #header .nav-list .nav-item:hover{
    background-color: #ffcad4;
  }
  #header .nav:hover .nav-list {display: block;}
  #header .nav:hover #mobile-btn{background-color: #ffcad4;}
  #header .nav-list .link {
    padding: 0.25rem;
    display: block;
  }
}
